.button{
    -fx-font-weight: bold;
    -fx-background-color:  #0fbcf9;
    -fx-font-size: 29;
    -fx-text-fill: #000000;
}

.button:hover
{
    -fx-font-weight: bold;
    -fx-background-color: #48dbfb;
    -fx-font-size: 29;
    -fx-text-fill: #000000;
}